body {
    font-family: Arial, sans-serif;
}


.carousel-caption h5 {
    font-size: 2rem;
    font-weight: bold;
}

.carousel-caption a {
    font-size: 1.25rem;
    font-weight: bold;
}

footer {
    background-color: #343a40;
    color: #ffffff;
}

.carousel-inner img {
    max-height: 100vh;
    object-fit: cover;
    }

.footer-bg {
    background-color: #343a40;
    }